<%- include('partials/header.ejs'); %>
<h1>Current Bills Of Materials </h1>
<div class="ui grid">
    <% for(let i = 0;i < rows2.length;i++){ %> 
        <div class="row">
            <div class="ui middle aligned relaxed divided list eight wide column">
                <div class="item">
                <div class="right floated content">
                    <div class="ui button" target="_blank"><a href="bills/edit/<%= rows2[i].id %>">Edit</a></div>
                    <div class="ui button"><a href="bills/delete/<%= rows2[i].id %>">Delete</a></div>
                </div>
                <div class="content" style="display: inline-flex;">
                    <div>
                        <h3>BOL: #<%= rows2[i].id %></h3>
                        <%= rows2[i].vendor %>
                    </div>
                    <div style="margin: 0 20px 0 20px">
                        <h3><%= rows2[i].date_placed %></h3>
                        Placed By <%= rows2[i].user %>
                    </div>
                    <div style="margin: 0 20px 0 20px">
                        <h3><strong>Tracking: </strong> <a href="<% if (rows2[i].tracking.startsWith("1Z") == true){ %>https://www.ups.com/track?loc=en_US&tracknum=<%= rows2[i].tracking %><% } else if (rows2[i].tracking.length == 12) { %>http://www.fedex.com/Tracking?language=english&tracknumbers=<%= rows2[i].tracking %><% } else { %>#<% } %>"><%= rows2[i].tracking %></a></h3>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <% } %>
</div>

  <%- include('partials/footer.ejs'); %>  