<%- include('partials/header.ejs'); %>
<script type="text/javascript">
    let i = 0
    function create_bill_add() {
        let sku = $("#create_bill_sku").val();
        let name = $("#create_bill_name").val();
        let qty = $("#create_bill_qty").val();
        let price = $('#create_bill_price').val();
        let vendor = $("#create_bill_vendor").val();
        if (sku.length == 0) {
            $.alertsAdd({
                text: "Please enter product code",
                stay: true,
                type: 'attention'
            });
            return;
        }
        if ($("#create_bill table").parent().find("#true").length == 0){
            $("#create_bill table").append("<input type='hidden' id='create_bill_vendor' name='vendor' value='" + vendor + "' />");
        }

        $("#create_bill table").append("<tr><td><input id='create_bill_price' type='hidden' value='" + parseFloat(price.substring(1)).toFixed(2) * qty + "' name='order_items[" + i + "][price]'><div class='ui input' id='true'><input type='text' name='order_items[" + i + "][sku]' style='width: 100px;' readonly=readonly value='" + sku + "'/></div></td><td><div class='ui input'><input type='text' style='width: 400px;' name='order_items[" + i + "][name]' readonly=readonly value='" + name + "'/></div></td><td><div class='ui input'><input type='text' style='width: 50px;' name='order_items[" + i + "][qty]' readonly=readonly value='" + qty + "'/></div></td><td><input type='button' class='ui button' value='remove' onclick='create_bill_remove(this);' /></td></tr>");
        $("#create_bill h4").html('');
        i++
    }

    function create_bill_remove(e) {
        $(e).closest('tr').remove();
        if ($("#create_bill table tr").children().length == 0) {
            $("#create_bill h4").html('');
        }
    }

</script>

    <h1 class="ui header">Create Bill Of Materials</h1>  
<form class="ui form" method="post" id="search" action="/searchOrderItems" style="display: flow-root;">
    <table>
        <tr>
            <div class="three wide field">
                <label>Vendor</label>
                <select type="text" name="vendor[]" id="create_bill_vendor">
                <option value=""></option>
                    <% for(var i = 0; i < rows2.length; i++){ %>
                    <option value="<%= rows2[i].id %>"><%= rows2[i].name %></option>
                    <% } %>
                </select>
            </div>
        </tr>
        <tr>
            <div class="ui input search codes">
                <div>
                    <label>SKU (type to search)</label>
                    <input type="text" id="create_bill_sku" placeholder="1234" name="search" value="" class="prompt">
                </div>
                <div class="results"></div>
            </div>
            <div class="three wide field">
                <label>Name</label>
                <input type="text" placeholder="Waist Elastic" id="create_bill_name" name="name[]">
                <input type="hidden" id="create_bill_price"  name="price[]">
            </div>
        </tr>
        <tr>
            <div class="one wide field">
                <label>Qty</label>
                <input type="text" placeholder="34" id="create_bill_qty" name="qty[]">
            </div>
            <input type="button" value="Add" class="ui button" onclick="create_bill_add();" />
        </tr>
    </table>
</form>
<br />
    <form method="post" action="/submitBill" id="create_bill" class="submit_bill ui form">
        <table >
            <tr>
                <div class="five wide field">
                    <label>What is the order for?</label>
                    <textarea placeholder="Enter description" id="create_bill_description" name="description"></textarea>
                </div>
            </tr>
            <tr>
                <div class="three wide field">
                    <label>Tracking Number</label>
                    <input type="text" placeholder="34452045321487" id="create_bill_tracking" name="tracking">
                </div>
            </tr>
            <tr>
                <div class="ui toggle checkbox" id="create_bill_delivered">
                    <input id='create_bill_not_delivered' type='hidden' value='0' name='delivered'>
                    <input type="checkbox" name="delivered" value="0">
                    <input id="create_bill_number" type="hidden" value="<% if (typeof rows3.id == 'undefined'){ %> 1 <% } else { %><%= rows3[0].id + 1 %><% } %>" name="number">
                    <label>Delivered</label>
                </div>
            </tr>
            <tr>
                <h3>Order Items</h3>
            </tr>
        </table>
        <br />

        <input type="submit" class="create_bill_submit ui button" value="Submit" />
        <br /><br />
        <h4 style="margin-left: 1px;"></h4>
        <br />
    </form>
    <script type="text/javascript">
    var vendor = $('select').val();

    $("#create_bill_delivered").checkbox('setting', 'onChange', function(){
        if ( $(this).is(":checked") ) {
            $(this).val("1");
            $("#create_bill_not_delivered").attr("disabled", true);
        } else {
            $(this).val("0");
            $("#create_bill_not_delivered").removeAttr("disabled");
        }    
    });

    
    $('select').on('change', function() {
        console.log( $(this).val() );
        vendor = $(this).val()
    });
$(function(){
    $('.ui.search.codes').search({
        apiSettings: {
            url: '../searchOrderItems?q=%{query}'
        },
        maxResults: 10,
        showNoResults: false
    });
})


    $(document).on("click keypress", ".result", function (e) {
        if (e.which == 13 || e.type == "click") {
            $("#create_bill_name").val($(this).find(".description").text());
            $("#create_bill_price").val($(this).find(".price").text());

        }
    });
    </script>
<%- include('partials/footer.ejs'); %>  