<%- include('partials/header.ejs'); %>

<h1>Raw Goods</h1>
<div class="ui pointing secondary demo menu">
  <% for (var i = 0; i < data.length; i++){ %>
  <a class="<% if (i == 0){ %>active<% } %> blue item" data-tab="<%= data[i].id %>"><%= data[i].vendor %></a>
  <% } %>
</div>
<% for (var i = 0; i < data.length; i++){ %>
<div class="ui <% if (i == 0){ %>active<% } %> tab segment" data-tab="<%= data[i].id %>">
  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>Sku</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% for (var j = 0; j < data[i].items.length; j++){ %>
      <tr>
        <td><%= data[i].items[j].sku %></td>
        <td><%= data[i].items[j].color %> <%= data[i].items[j].size %> <%= data[i].items[j].prd_type %></td>
        <td><%= data[i].items[j].description %></td>
        <td><%= data[i].items[j].price %></td>
        <td><a href="/rawGoodsList/<%= data[i].items[j].id %>">Delete</a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".demo.menu .item").tab({ history: false });
  });
</script>

<%- include('partials/footer.ejs'); %>  